{% load static %}

<div class="border-2 border-blue-900 mt-3 min-w-30 min-h-30 rounded-lg shadow-md shoadow-black">
  <p class="text-center bg-blue-500 text-white rounded-md underline pb-2 font-bold hover:text-red-500">Analysis form</p>

  <form class="flex flex-col gap-2 p-2" id="analysis_form">
    <div class="flex flex-row gap-2 justify-center items-center">
        <label class="text-sm">Ca:</label>
        <input type="text" name="ca" placeholder="0.0" value="0.0" class="border-2 border-gray-300 rounded-md p-1 m-1 h-6 text-sm" />
    </div>
    <div class="flex flex-row gap-2 justify-center items-center">
        <label class="text-sm">Mg:</label>
        <input type="text" name="mg" value="0.0" class="border-2 border-gray-300 rounded-md p-1 m-1 h-6 text-sm" />
    </div>
    <div class="flex flex-row gap-2 justify-center items-center">
        <label class="text-sm">Na:</label>
        <input type="text" name="Na" value="0.0" class="border-2 border-gray-300 rounded-md p-1 m-1 h-6 text-sm" />
    </div>
    <div class="flex flex-row gap-2 justify-center items-center">
        <label class="text-sm">SO4:</label>
        <input type="text" name="so4" value="0.0" class="border-2 border-gray-300 rounded-md p-1 m-1 h-6 text-sm" />
    </div>
    <div class="flex flex-row gap-2 justify-center items-center">
        <label class="text-sm">Others:</label>
        <input type="text" name="so4" value="0.0" class="border-2 border-gray-300 rounded-md p-1 m-1 h-6 text-sm" />
    </div>

    <div class="flex flex-row justify-center items-center gap-4">
        <button type="submit" class="bg-green-500 text-white w-full rounded-md p-2 mt-2 hover:bg-green-700 text-sm">Submit</button>
        <button type="reset" class="bg-red-500 text-white w-full rounded-md p-2 mt-2 hover:bg-red-700 text-sm">Reset</button>
    </div>
  </form>
</div>
