{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
  </head>
  <body class="w-full h-full p-2">
    {% include "header.html" %}

    {% if request.path == "/home/" %}
      <p>You are in Home Page</p>
    {% elif request.path == "/analysis/" %}
      <p>You are in Analysis Page</p>
      <div class="flex flex-row justify-center">
        {% include "anlysisForm.html" %}
      </div>
      

    {% else %}
      <p>You are in an Unknown Page</p>
    {% endif %}
  </body>
  {% include "dialog.html" %}
  <script src="{% static 'js/common.js' %}"></script>
</html>
</html>